<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
      <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/vue-material.min.css">
      <link rel="stylesheet" href="https://unpkg.com/vue-material/dist/theme/black-green-light.css">
      <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
      <script src="https://unpkg.com/vue-material"></script>
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>IsItRight</title>
  </head>
  <body style="margin: 0">
    <noscript>
      <strong>We're sorry but this application doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>

    <div id="app">
        <md-card class="card">
          <md-card-header>
            <div class="md-title"> IsItRight</div>
            <div class="md-subhead">CMS for Teachers</div>
          </md-card-header>

          <md-card-content>
              Enter a new question:
              <md-field>
                  <label>Topic</label>
                  <md-input v-model="topic"></md-input>
              </md-field>
              <md-field>
                  <label>Question</label>
                  <md-textarea v-model="question" md-autogrow></md-textarea>
              </md-field>
              <md-field>
                  <label>Answer</label>
                  <md-textarea v-model="answer" md-autogrow></md-textarea>
              </md-field>
          </md-card-content>

            <md-progress-bar v-if='query' md-mode="query"></md-progress-bar>

          <md-card-actions>
            <md-button class="md-primary" @click="clearForm">Clear</md-button>
            <md-button class="md-accent" @click="postQuestion">Submit</md-button>
          </md-card-actions>
        </md-card>
    </div>
  </body>
  <script>
      Vue.use(VueMaterial.default)

      var app = new Vue({
          el: '#app',
          data: {
              topic: '',
              question: '',
              answer: '',

              query: false
          },
          methods: {
              clearForm: function () {
                  this.topic = ''
                  this.question = ''
                  this.answer = ''
                  this.query = false
              },
              postQuestion: function () {
                  let me = this
                  this.query = true
                  axios.post('/questions', [
                      {
                          question: this.question,
                          solution: this.answer,
                          topic: this.topic,
                      }
                  ])
                      .then(function (response) {
                          console.log(response);
                      })
                      .catch(function (error) {
                          console.log(error);
                      })
                      .finally(function () {
                          me.query = false
                          me.clearForm()
                      })
              }
          }
      })
  </script>
  <style>
      .header {
          margin: 10% 20% 10% 20%;
      }
      .card{
          margin: 10%
      }

  </style>
</html>